@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(240, 240,240);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    color: #FA8072;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #a8a8a8 !important;
}